{% extends "base.html" %}

{% block title %}Firework {{ fw_id }} Details{% endblock %}

{% block morehead %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.jsonview.css') }}" />
  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.jsonview.js') }}"></script>
  <script type="text/javascript">
    var json = {{ fw | tojson }};

    $(function() {
      $("#json").JSONView(json);

      $('#collapse-btn').on('click', function() {
        $('#json').JSONView('collapse');
      });
      $('#expand-btn').on('click', function() {
        $('#json').JSONView('expand');
      });

      $('#toggle-btn').on('click', function() {
        $('#json').JSONView('toggle');
      });

      $('#toggle-level1-btn').on('click', function() {
        $('#json').JSONView('toggle', 1);
      });

      $('#toggle-level2-btn').on('click', function() {
        $('#json').JSONView('toggle', 2);
      });
    });
  </script>
{% endblock %}

{% block content %}
  <center>
    <span class="{{fw.state}} label">
      {{ fw.state }}
    </span>
  </center>

  <h6 class="text-center">Firework {{ fw_id }} : {{fw.name}} </h6>
  {% if command is defined %}
  <div class="bs-callout bs-callout-primary">
      <h4>Command</h4>{{ command }} </div>
  {% endif %}
  <div class="bs-callout bs-callout-primary">
      <h4>Output File Path: <input class="filepath" type="text" value="{{ out_file }}" readonly> </h4>
      <pre>{{out_out}}</pre>
  </div>
  <div class="bs-callout bs-callout-primary">
      <h4>Output File Path: <input class="filepath" type="text" value="{{ err_file }}" readonly> </h4>
      <pre>{{err_out}}</pre>
  </div>

  {% if bsub_options|length > 0 %}
  <form class="form-inline" id="bsub_options_form" method="post" action="/{{ dbname }}/fw/{{ fw_id }}/update">
  {% for key, value in bsub_options.iteritems() %}
  <div class="form-group" >
      <label for="{{ key }}">{{ key }}</label>
      <input type="text" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ value }}" />
  </div>
  {% endfor %}
  <button type="submit" id="modify_bsub" class="btn btn-danger">Update Bsub Options</button>
  </form>
  {% endif %}
  <center>created on {{ fw.created_on|datetime }}</center>

  <button class="btn btn-default" id="collapse-btn">Collapse</button>
  <button class="btn btn-default" id="expand-btn">Expand</button>
  <button class="btn btn-default" id="toggle-btn">Toggle</button>
  <button class="btn btn-default" id="toggle-level1-btn">Toggle level1</button>
  <button class="btn btn-default" id="toggle-level2-btn">Toggle level2</button>
  <div id="json"></div>

{% endblock %}
