{% extends "base.html" %}
{% block title %}Haystack{% endblock %}

{% block content %} 
	
<div class="row pull-down">
    <div class="col-md-6">
        <ul class="pagination">
            <li {% if page-1 <= 0 %} class="disabled" {%endif %}>
            <a href="/{{ dbname }}/{{ page -1 }}" aria-label="previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <li>
        {% for page_num in range(1, num_pages+1) %}
        <li {% if page==page_num %}class="active"{% endif %}><a href="/{{ dbname }}/{{ page_num }}" >{{ page_num }}</a></li>
        {% endfor %}
        <li {% if page+1 >= num_pages+1%} class="disabled" {% endif %}>
        <a href="/{{ dbname }}/{{ page + 1 }}"><span>&raquo;</span></a>
        </li>
    </ul>


            {% for wf in wf_info %}
            <div class="panel panel-{{ wf.panel_class }}">
                   <div class="panel-heading">
                       <h3 class="panel-title">
                                <input class="deletecontrol" type="checkbox" name="delete" value="{{ wf.id }}">{{ wf.name }}</input>
                                <span class="pull-right"> 
                                <span class="label {{wf.state}}">{{wf.state}}</span>
                                    ID: <a href="/{{ dbname }}/wf/{{ wf.id }}">{{ wf.id }}</a>
                                </span>
                        </h3>
                    </div>
                    <div class="panel-body">     
                        <div class="progress">
                            {% for style, percent in wf.progress_bar.iteritems() %}
                            <div class="progress-bar progress-bar-{{ style }} {% if style=='warning'%}active progress-bar-striped{%endif %}" style="width: {{percent}}%">


                            </div>
                            {% endfor %}
                        </div> 
                    </div>
                </div>
            {% endfor %}
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr><th colspan="3">Current Database Status</th></tr>
            <tr>
                <th></th>
                <th><a href="/{{ dbname }}/fw">Fireworks</a></th>
                <th><a href="/{{ dbname }}/wf">Workflows</a></th>
            </tr>
            {% for state, fw_num, wf_num in state_nums %}
                <tr>
                    <td>
                        <span class="label {{state}}">
                            {{ state }}
                        </span>
                    </td>
                    <td><center><a href="/{{ dbname }}/fw/{{ state }}">{{ fw_num }}</a></center></td>
                    <td><center><a href="/{{ dbname }}/wf/{{ state }}">{{ wf_num }}</a></center></td>
                </tr>
            {% endfor %}
            <tr>
                <th><div align="right">TOTAL</div></th>
                <td><center><a href="/{{ dbname }}/fw">{{ tot_fws }}</a></center></td>
                <td><center><a href="/{{ dbname }}/wf">{{ tot_wfs }}</a></center></td>
            </tr>
        </table>
    </div>
</div>
<!-- TABLES -->

{% endblock %}
