{% extends "base.html" %}

{% block title %}Workflow {{ wf_id }} Details{% endblock %}

{% block morehead %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.jsonview.css') }}" />
  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.jsonview.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dagre.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v4.0.2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/wf_cyto.js') }}"></script>
  {% raw %}
  <script id="job-details" type="text/x-handlebars-template">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4>Step Details</h4>
          </div>
              <table class="table table-condensed">
              <tr>
                  <th>Command</th>
                  <td>{{command}}</td>
              </tr>
              <tr>
                  <th>Error File</th>
                  <td>{{err_file}}</td>
              <tr>
                  <th>Output File</th>
                  <td>{{out_file}}</td>
              </tr>
              <tr>
                  <td>
                      <a class="btn btn-danger" role="button" data-toggle="collapse" href="#error_tail" aria-expanded="false" aria-controls="collapseExample">
                          Error Tail
                      </a>
                  </td>
                  <td>
                       <a class="btn btn-primary" role="button" data-toggle="collapse" href="#output_tail" aria-expanded="false" aria-controls="collapseExample">
                          Output Tail
                      </a>
                  </td>
            </table>
            <div class="collapse" id="error_tail">
                <pre>
                      {{err_tail}}
                </pre>
                  </div>
                  <div class="collapse" id="output_tail">
                <pre>
                      {{out_tail}}
                 </pre>
                  </div>


       </div>
   </script>
   {% endraw %}

  <script type="text/javascript">
    var json = {{ wf | tojson }};

    $(function() {
      $("#json").JSONView(json);

      $('#collapse-btn').on('click', function() {
        $('#json').JSONView('collapse');
      });
      $('#expand-btn').on('click', function() {
        $('#json').JSONView('expand');
      });

      $('#toggle-btn').on('click', function() {
        $('#json').JSONView('toggle');
      });

      $('#toggle-level1-btn').on('click', function() {
        $('#json').JSONView('toggle', 1);
      });

      $('#toggle-level2-btn').on('click', function() {
        $('#json').JSONView('toggle', 2);
      });
    });
  </script>
{% endblock %}

{% block content %}
<h4 class="text-center">Workflow {{ wf_id }} </h4>
  <div id="cy"></div>
  <div id="job-details-target"></div>
<button class="btn btn-default" id="collapse-btn">Collapse</button>
  <button class="btn btn-default" id="expand-btn">Expand</button>
  <button class="btn btn-default" id="toggle-btn">Toggle</button>
  <button class="btn btn-default" id="toggle-level1-btn">Toggle level1</button>
  <button class="btn btn-default" id="toggle-level2-btn">Toggle level2</button>
  <div id="json"></div>
  <div id="wf_id" style="display:none">{{ wf_id }}</div>

{% endblock %}
