{% extends "base.html" %}

{% block title %}Workflow {{ wf_id }} Details{% endblock %}

{% block morehead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.jsonview.css') }}" />
<link href="{{ url_for('static', filename='font-awesome-4.0.3/css/font-awesome.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/cytoscape.js-panzoom.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.jsonview.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dagre.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v4.0.2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape-panzoom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wf_cyto.js') }}"></script>
{% raw %}
<script id="job-details" type="text/x-handlebars-template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Step Details</h4>
        </div>
        <table class="table table-condensed">
            <tr>
                <th>Command</th>
                <td>{{command}}</td>
            </tr>
            <tr>
                <th>Error File</th>
                <td>{{err_file}}</td>
                <tr>
                    <th>Output File</th>
                    <td>{{out_file}}</td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-danger" role="button" data-toggle="collapse" href="#error_tail" aria-expanded="false" aria-controls="collapseExample">
                            Error Tail
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#output_tail" aria-expanded="false" aria-controls="collapseExample">
                            Output Tail
                        </a>
                    </td>
                </table>
                <div class="collapse" id="error_tail">
                    <h4>Error Tail</h4>
                    <pre>
                      {{err_tail}}
                    </pre>
                </div>
                    <div class="collapse" id="output_tail">
                        <h4>Output Tail</h4>
                        <pre>
                      {{out_tail}}
                     </pre>
                    </div>
                </div>
        </script>
        {% endraw %}
{% endblock %}

{% block content %}
        <div id="workflow_graph" style="display:none">
        <h4 class="text-center">Workflow {{ wf_id }} </h4>
        <div id="cy"></div>
    </div>
  <div id="job-details-target"></div>
  <div class="row top-buffer">
      <div class="col-md-12">
          <div class="form-inline">
              <div class="form-group">
                  <button class="btn btn-default" id="showworkflow">Show Workflow Graph</button>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" id="namesearch" placeholder="search for steps by name..."></input>
                  <button class="btn btn-default form-control" id="search">Search!</button>
              </div>
          </div>
      </div>
  </div>
      <div class="row top-buffer">
          <div class="col-md-12">
              <table class="table table-bordered">
                  <tr>
                      <th>State</th>
                      <th>ID</th>
                      <th>Name</th>
                  </tr>
                  {% for row in rows %}
                  <tr>
                      <td><span class="label {{ row.state }}">{{ row.state }}</span>
                          <td><center><a href="/{{ dbname }}/fw/{{ row.fw_id }}">{{ row.fw_id }}</a></center></td>
                          <td>{{ row.name }}</td>
                      </tr>
                      {% endfor %}
              </table>

                  <div id="wf_id" style="display:none">{{ wf_id }}</div>
                  <div id="name" style="display:none">{{name}}</div>
                  {% endblock %}
          </div>
      </div>
